<h1>Travels</h1>
<form method="post">

    <label for="Origin">Origin</label>
    <input type="text" name="Origin" id="Origin">
m
    <label for="Destiny">Destiny</label>
    <input type="text" name="Destiny" id="Destiny">

    <label for="Departure">Departure</label>
    <input type="date" name="Departure" id="Departure">

    <label for="Return">Return</label>
    <input type="date" name="Return" id="Return">

    <label for="passengers">passengers:</label>
    <input name="passengers" id="passengers" required>
   
    <input type="submit" value="search">


</form>