<h1>Travels</h1>
<form method="post">

    <label for="Origin">Origin</label>
    <input type="text" name="Origin" id="Origin">
m
    <label for="Destiny">Destiny</label>
    <input type="text" name="Destiny" id="Destiny">

    <label for="Departure Date">Departure Date</label>
    <input type="date" name="Departure Date" id="Departure Date">

    <label for="Fecha de Vuelta">Fecha de Vuelta</label>
    <input type="date" name="Fecha de Vuelta" id="Fecha de Vuelta">

    <label for="passengers">passengers:</label>
    <input name="passengers" id="passengers" required>
   
    <input type="submit" value="search">


</form>